body {
     background-image: url("..//pictures//47633825-plane-wallpaper.jpg");
    background-repeat: no-repeat;
}

html {
    font-family: sans-serif;
}

h1 {
    margin: 60px;
      margin: 60px;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color:white;
}

h2 {
    margin: 50px;
        margin: 50px;
   font-family: 'Playball', cursive;
   font-size: 45px;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

active {
    background-color: #4CAF50;
}

body {
    margin: 0px;
}

form {
    position: fixed;
    width: 20%;
    background-color: rgb(211, 211, 211);
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin-left: 50px;
}




