body {
   background-image: url("../pictures/47633825-plane-wallpaper.jpg");
    background-repeat: no-repeat;
}

html {
    font-family: sans-serif;
}

h1 {
    margin: 60px;
    margin: 60px;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color:white;

}

h2 {
    margin: 50px;
        margin: 50px;
   font-family: 'Playball', cursive;
   font-size: 45px;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

active {
    background-color: #4CAF50;
}

body {
    margin: 0px;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(211, 211, 211);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 80px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: white
}

.show {
    display: block;
}
lii{
    float: right;
     display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
       background-color: #00FF00;
}
